$flaticon_nashi_tut-font: "flaticon_nashi_tut";

@font-face {
    font-family: $flaticon_nashi_tut-font;
    src: url("./flaticon_nashi_tut.woff2?c8d3f6a3b8d1812cc76488cfb7d3e1fa") format("woff2"),
url("./flaticon_nashi_tut.woff?c8d3f6a3b8d1812cc76488cfb7d3e1fa") format("woff"),
url("./flaticon_nashi_tut.eot?c8d3f6a3b8d1812cc76488cfb7d3e1fa#iefix") format("embedded-opentype"),
url("./flaticon_nashi_tut.ttf?c8d3f6a3b8d1812cc76488cfb7d3e1fa") format("truetype"),
url("./flaticon_nashi_tut.svg?c8d3f6a3b8d1812cc76488cfb7d3e1fa#flaticon_nashi_tut") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_nashi_tut !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_nashi_tut-map: (
    "church": "\f101",
    "logistics": "\f102",
    "passport": "\f103",
    "government": "\f104",
    "coffee-cup": "\f105",
    "beer": "\f106",
    "paper": "\f107",
    "today": "\f108",
    "job-seeker": "\f109",
    "stethoscope": "\f10a",
    "iftar": "\f10b",
    "email": "\f10c",
    "boy": "\f10d",
    "store": "\f10e",
    "lifeline-in-a-heart-outline": "\f10f",
    "medicine": "\f110",
    "woman-hair": "\f111",
    "customer-service": "\f112",
    "theatre": "\f113",
    "option": "\f114",
);

.flaticon-church:before {
    content: map-get($flaticon_nashi_tut-map, "church");
}
.flaticon-logistics:before {
    content: map-get($flaticon_nashi_tut-map, "logistics");
}
.flaticon-passport:before {
    content: map-get($flaticon_nashi_tut-map, "passport");
}
.flaticon-government:before {
    content: map-get($flaticon_nashi_tut-map, "government");
}
.flaticon-coffee-cup:before {
    content: map-get($flaticon_nashi_tut-map, "coffee-cup");
}
.flaticon-beer:before {
    content: map-get($flaticon_nashi_tut-map, "beer");
}
.flaticon-paper:before {
    content: map-get($flaticon_nashi_tut-map, "paper");
}
.flaticon-today:before {
    content: map-get($flaticon_nashi_tut-map, "today");
}
.flaticon-job-seeker:before {
    content: map-get($flaticon_nashi_tut-map, "job-seeker");
}
.flaticon-stethoscope:before {
    content: map-get($flaticon_nashi_tut-map, "stethoscope");
}
.flaticon-iftar:before {
    content: map-get($flaticon_nashi_tut-map, "iftar");
}
.flaticon-email:before {
    content: map-get($flaticon_nashi_tut-map, "email");
}
.flaticon-boy:before {
    content: map-get($flaticon_nashi_tut-map, "boy");
}
.flaticon-store:before {
    content: map-get($flaticon_nashi_tut-map, "store");
}
.flaticon-lifeline-in-a-heart-outline:before {
    content: map-get($flaticon_nashi_tut-map, "lifeline-in-a-heart-outline");
}
.flaticon-medicine:before {
    content: map-get($flaticon_nashi_tut-map, "medicine");
}
.flaticon-woman-hair:before {
    content: map-get($flaticon_nashi_tut-map, "woman-hair");
}
.flaticon-customer-service:before {
    content: map-get($flaticon_nashi_tut-map, "customer-service");
}
.flaticon-theatre:before {
    content: map-get($flaticon_nashi_tut-map, "theatre");
}
.flaticon-option:before {
    content: map-get($flaticon_nashi_tut-map, "option");
}
