/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_nashi_tut";
    src: url("./flaticon_nashi_tut.woff2?2d0a83c8b65a5422cfa4776784951363") format("woff2"),
url("./flaticon_nashi_tut.woff?2d0a83c8b65a5422cfa4776784951363") format("woff"),
url("./flaticon_nashi_tut.eot?2d0a83c8b65a5422cfa4776784951363#iefix") format("embedded-opentype"),
url("./flaticon_nashi_tut.ttf?2d0a83c8b65a5422cfa4776784951363") format("truetype"),
url("./flaticon_nashi_tut.svg?2d0a83c8b65a5422cfa4776784951363#flaticon_nashi_tut") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_nashi_tut !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-church:before {
    content: "\f101";
}
.flaticon-logistics:before {
    content: "\f102";
}
.flaticon-passport:before {
    content: "\f103";
}
.flaticon-government:before {
    content: "\f104";
}
.flaticon-coffee-cup:before {
    content: "\f105";
}
.flaticon-beer:before {
    content: "\f106";
}
.flaticon-paper:before {
    content: "\f107";
}
.flaticon-today:before {
    content: "\f108";
}
.flaticon-job-seeker:before {
    content: "\f109";
}
.flaticon-stethoscope:before {
    content: "\f10a";
}
.flaticon-iftar:before {
    content: "\f10b";
}
.flaticon-email:before {
    content: "\f10c";
}
.flaticon-boy:before {
    content: "\f10d";
}
.flaticon-store:before {
    content: "\f10e";
}
.flaticon-lifeline-in-a-heart-outline:before {
    content: "\f10f";
}
.flaticon-medicine:before {
    content: "\f110";
}
.flaticon-woman-hair:before {
    content: "\f111";
}
.flaticon-customer-service:before {
    content: "\f112";
}
.flaticon-theatre:before {
    content: "\f113";
}
.flaticon-option:before {
    content: "\f114";
}
.flaticon-star:before {
    content: "\f115";
}
.flaticon-star-1:before {
    content: "\f116";
}
.flaticon-map:before {
    content: "\f117";
}

